<!doctype html>
<html lang="en">

<head>
    {{> head_element }}
</head>

<body>
    {{> header_with_back_button back_url="/homepage-manager-dates.hbs" }}

    <span class="content">
        <form class="form-signin" method="post">
            <h1 class="h3 mb-3 font-weight-normal" style="font-family: 'Gaegu'; margin:15px, 0, 15px, 0;">Record a new date</h1>

            <label for="date_time">Date Time</label>
            <input type="datetime-local" id="date_time" name="date_time" class="form-control" placeholder="(YYYY-MM-DD)" required>
            <label for="v"></label>

            <label for="profile_a">User A</label>
            <select id="profile_a" name="profile_a" class="form-control" required>
                {{#each users}}
                <option value="{{profile_id}}">{{profile_id}}</option>
                {{/each}}
            </select>

            <label for="profile_a"></label>
            <label for="profile_b">User B</label>
            <select id="profile_b" name="profile_b" class="form-control" required>
                {{#each users}}
                <option value="{{profile_id}}">{{profile_id}}</option>
                {{/each}}
            </select>

            <label for="profile_b"></label>
            <label for="cust_rep">Customer Representative</label>
            <select id="cust_rep" name="cust_rep" class="form-control" required>
                {{#each reps}}
                <option value="{{ssn}}">{{ssn}}</option>
                {{/each}}
            </select>
            <label for="cust_rep"></label>

            <label for="location">Location</label>
            <input type="text" id="location" name="location" class="form-control" placeholder="The Mall" required>
            <label for="v"></label>

            <label for="comments">Comments</label>
            <input type="text" id="comments" name="comments" class="form-control" placeholder="Put any comments here" required>
            <label for="v"></label>

            <label for="user1_rating">User A Rating</label>
            <input type="number" id="user1_rating" name="user1_rating" class="form-control" placeholder="1 to 5" min="1" max="5" step="1"
                required>
            <label for="v"></label>

            <label for="user2_rating">User B Rating</label>
            <input type="number" id="user2_rating" name="user2_rating" class="form-control" placeholder="1 to 5" min="1" max="5" step="1"
                required>
            <label for="v"></label>

            <label for="booking_fee">Booking Fee</label>
            <input type="number" id="booking_fee" name="booking_fee" class="form-control" placeholder="Booking fee" step="0.01" required>
            <label for="v"></label>

            <button class="btn btn-lg btn-success btn-block" type="submit">Confirm</button>
        </form>
    </span>
</body>

</html>